//-html
    head
    title Eventos
    body
        h1 Lista de Eventos
        ul
            each evento in eventos 
                li
                p= evento.nombre
                p= evento.fecha
                p= evento.lugar

//- views/eventos.pug
extends layout

block content
  h1.mb-4 Lista de Eventos
  a.btn.btn-success.mb-3(href='/eventos/vista/nuevo') Nuevo Evento

  table.table.table-striped
    thead
      tr
        th Nombre
        th Fecha
        th Lugar
        th Estado
        th Acciones
    tbody
      each evento in eventos
        tr
          td #{evento.nombre}
          td #{new Date(evento.fecha).toLocaleDateString()}
          td #{evento.lugar}
          td #{evento.estadoId ? evento.estadoId.estadoActual : 'Sin estado'}
          td
            a.btn.btn-primary(href=`/eventos/vista/${evento._id}`) Seleccionar


  a.btn.btn-secondary.mt-3(href='/home') Volver