extends layout

block content
  h1.mb-4= titulo

  // Formulario de edición del evento
  form(
    action= evento._id ? `/eventos/${evento._id}?_method=PUT` : '/eventos',
    method='POST'
  )
    div.mb-3
      label.form-label(for='nombre') Nombre
      input.form-control(
        type='text',
        id='nombre',
        name='nombre',
        value=evento.nombre || '',
        
      )

    div.mb-3
      label.form-label(for='fecha') Fecha
      // si no hay fechaFormateada, deja vacío
      input.form-control(
        type='date',
        id='fecha',
        name='fecha',
        value=fechaFormateada || ''
        
      )

    div.mb-3
      label.form-label(for='lugar') Lugar
      input.form-control(
        type='text',
        id='lugar',
        name='lugar',
        value=evento.lugar || ''
        
      )

    div.mb-3
      a.form-label(href=`/eventos/${evento._id}/estado`) Estado
      if evento.estadoId
        p.form-control-plaintext= evento.estadoId.estadoActual
      else
        p.form-control-plaintext Sin estado


    div.mb-3
      label.form-label Cliente
      select.form-select(name='clienteId' id='clienteId' required)
        option(value='') Seleccionar cliente...
        each cliente in clientes
          option(
            value=cliente._id,
            selected=evento.clienteId && cliente._id.toString() === evento.clienteId._id.toString()
          )= cliente.nombre

    div.mb-3
      a.form-label(href=`/eventos/${evento._id}/proveedores`) Proveedores
      ul
        each proveedor in evento.proveedores
          li= proveedor.nombre || proveedor.toString()
    
    if evento.tareas && evento.tareas.length
      div.mb-3
        label.form-label Tareas
        ul
          each tarea in evento.tareas
            li= tarea.nombre || tarea.toString()

    if evento.invitados && evento.invitados.length
      div.mb-3
        a.form-label(href=`/eventos/${evento._id}/invitados`) Invitados
        ul
          each invitado in evento.invitados
            li= invitado.nombre || invitado.toString()

    button.btn.btn-success(type='submit') Guardar Cambios

  // Formulario de eliminación del evento
  form(action=`/eventos/${evento._id}?_method=DELETE`, method='POST', style='margin-top: 20px;')
    button.btn.btn-danger(type='submit') Eliminar Evento

  a.btn.btn-secondary.mt-3(href='/eventos/vista') Volver a la lista
