extends layout

block content
  h1.mb-4= titulo

  a.btn.btn-primary.mb-3(href='/invitados/vista/nuevo') Nuevo Invitado

  if invitados.length
    table.table.table-striped
      thead
        tr
          th Nombre
          th Email
          th Teléfono
          th Estado
          th Evento
          th Acciones
      tbody
        each invitado in invitados
          tr
            td= invitado.nombre
            td= invitado.email
            td= invitado.telefono || '-'
            td= invitado.estado
            td= invitado.eventoId ? invitado.eventoId.nombre : 'Sin evento'
            td
              a.btn.btn-info.btn-sm(href=`/invitados/vista/${invitado._id}`) Ver
        
  else
    p No hay invitados registrados.
  
  a.btn.btn-secondary.mt-3(href='/') Volver
