//- views/tareas.pug
//-lista de tareas
//- extends layout

//- block content
//-   h1 Tareas
//-   a(href="/tareas/nueva") Nueva tarea
//-   ul
//-     each tarea in tareas
//-       li
//-         h3 #{tarea.titulo} - #{tarea.estado}
//-         p Responsable: #{tarea.responsable || 'sin asignar'}
//-         a(href=`/tareas/${tarea._id}`) Ver
//-         a(href=`/tareas/editar/${tarea._id}`) Editar

extends layout

block content
  h1.mb-4= Titulo

  a.btn.btn-primary.mb-3(href='/tareas/nueva') Nueva Tarea

  
  table.table.table-striped
    thead
      tr
        th Tarea
        th Descripción
        th Responsable
        th Estado
        th Acciones
    tbody
      each tarea in tareas
        tr
          td= tarea.titulo
          td= tarea.descripcion
          td= tarea.responsable
          td= tarea.estado
          td
            a.btn.btn-info.btn-sm(href=`/tareas/vista/${tarea._id}`) Ver
      else
        tr
          td(colspan='5') No hay tareas cargadas aún.


  a.btn.btn-secondary.mt-3(href='/') Volver
